---
import BaseHead from "~/components/BaseHead.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";

const { ...head } = Astro.props;

---

<!DOCTYPE html>
<html
  lang="pt-BR"
  class="overflow-x-hidden break-words [color-scheme:dark]"
>
<head>
  <BaseHead {...head} />
</head>
<body>
  <div class="flex min-h-screen flex-col overflow-x-hidden">
    <div id="nav">
      <Header>
      </Header>
    </div>
    <hr>
    <div class="noise-container">
      <div class="noise">
        <Footer />
      </div>
    </div>
  </div>
  <slot />
</body>
</html>
